{% extends '@MMAdmin/Admin/page.html.twig' %}

{% set pageHeadline = "Routingmanagment Section" %}
{% set pageSubline = "" %}

{% block admin_page_body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default ">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-edit"></i> {{ 'additional routes'|trans }}</h3>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{ 'new route'|trans }}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for type in types %}
                                <li>
                                    <a href="{{ path('mm_cmf_admin_routing_addon_noderoute_new', {'node_route_type' : type}) }}">{{ 'create '~type|trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Pfad</th>
                            <th>Typ</th>
                            <th>Ziel</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for noderoute in noderoutes %}
                            {% set type = factory.discriminatorByClass(noderoute) %}
                            {% if type != 'auto' %}
                                <tr>
                                    <td>{{ noderoute.route }}</td>
                                    <td>{{ factory.discriminatorByClass(noderoute)|trans }}</td>
                                    <td>
                                        {#% if noderoute.node %}
                                            {% if isPageAddonEnabled %}
                                                <a href="{{ path("mm_cmf_admin_page_addon_page_edit", {'id' : noderoute.node.id}) }}">{{ noderoute.node }}</a>
                                            {% else %}
                                                {{ noderoute.node }}
                                            {% endif %}
                                        {% else %}
                                            extern
                                        {% endif %#}
                                    </td>
                                    <td align="right">
                                        {% spaceless %}
                                            <a class="btn btn-default"
                                               href="{{ path("mm_cmf_admin_routing_addon_noderoute_edit", {"id" : noderoute.id}) }}"><i
                                                        class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger"
                                               href="{{ path("mm_cmf_admin_routing_addon_noderoute_delete", {"id" : noderoute.id }) }}"><i
                                                        class="fa fa-trash"></i></a>
                                        {% endspaceless %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border"><h3 class="box-title"><i
                                class="fa fa-edit"></i> {{ 'default routes'|trans }}</h3></div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Pfad</th>
                            <th>Typ</th>
                            <th>Ziel</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for noderoute in noderoutes %}

                            {% set type = factory.discriminatorByClass(noderoute) %}
                            {% if type == 'auto' %}
                                <tr>
                                    <td>{{ noderoute.route }}</td>
                                    <td>{{ factory.discriminatorByClass(noderoute)|trans }}</td>
                                    <td>
                                        {#% if noderoute.node %}
                                            {% if isPageAddonEnabled %}
                                                <a href="{{ path("mm_cmf_admin_page_addon_page_edit", {'id' : noderoute.node.id}) }}">{{ noderoute.node }}</a>
                                            {% else %}
                                                {{ noderoute.node }}
                                            {% endif %}
                                        {% else %}
                                            extern
                                        {% endif %#}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

